body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
nav img {
    height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}
nav li {
    margin: 0 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
nav button {
    padding: 10px 20px;
    background-color: #fff;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}
nav button:hover {
    background-color: #ddd;
}



section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B9E9FC;
    padding: 100px;
    color: #333;
}
.left-section {
    flex-basis: 50%;
    padding-right: 50px;
    box-sizing: border-box;
}
h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666;
}
.right-section {
    flex-basis: 50%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.designation {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: #666;
    text-transform: uppercase;
}
/* Photo Gallery */
.gallery{
    font-size: larger;
    color: gray;
    text-decoration: none;
}

/* footer */

footer {
    background-color: #009FBD;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #009FBD;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.footer-link:hover {
    background-color: #f2f2f2;
    color: #009FBD;
}